body {display: flex;flex-flow: row wrap;flex-direction: column;background-color: Lavender;margin: 5px auto;max-width: 90%;}
h2 {display: flex;flex-direction: column;flex:1 60%;font-size: 2.0em; text-align: center; }
table {width:40em;text-align: center;border-collapse: collapse;}
tbody {text-align: right}
tbody tr td{padding-right: 15px}
tbody tr td:first-child{text-align: center;}
table, th, td {
  border: 1px solid;
}
hr {clear: both; 
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 5px blue;
  border-bottom-width: thick;
}
footer {text-align: left;}
.text-input label {
    color: #666;
    font-size: 1.5em;
  }
